* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 2px solid red; */
}

html, body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.body-wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  min-height: 100vh;
}

#sidebar {
  background-color: #f5f6f7;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 2rem 0 1rem 0;
}

#date-filters, #project-filters {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2rem;
}

#sidebar button{
  background-color: transparent;
  border: none;
  padding: 0.75rem 1rem 0.75rem 2.25rem;
  width: 100%;
  text-align: start;
  cursor: pointer;
}

#sidebar button:hover {
  background-color: #e7e7e8;
}

.filter-content {
  display: flex;
  align-items: center;
  gap: 5%;
  font-size: 1.25rem;
  text-transform: capitalize;
}

.filter-content img {
  width: 12%;
}

#today-filter .filter-content {
  gap: 4%;
}

#today-filter .filter-content img {
  width: 13%;
}

#project-filters {
  position: relative;
}


#new-project-btn {
  position: absolute;
  font-size: 1.25rem;
  bottom: -1rem;
  left: 0;
  color: #818181;
}

#new-project-btn span{
  display: flex;
  align-items: center;
  gap: 5%;
}

#project-filters-title {
  margin: 0 0 1.5rem 1rem;
  font-size: 1.75rem;
}

#project-filter-container {
  width: 100%;
}

#main-content {
  padding: 3rem 5rem;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2.5rem;
}

.project-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-title {
  font-size: 2rem;
  text-transform: capitalize;
  color: #1469c4;
}

.project-detail {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.project-detail img {
  width: 2.5rem;
  height: 2.5rem;
}

.no-task-announce {
  font-size: 1.125rem;
  font-style: italic;
  color: #818181;
}

.todo-container {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.todo-title {
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  gap: 0.5rem;
  font-size: 1.25rem;
}

#new-project-modal {
  margin: 0 auto;
  top: 25%;
  width: 40%;
  padding: 2rem 2rem;
  font-size: 1.5rem;
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  border-radius: 0.75rem;
}

#new-project-form label{
  display: block;
  text-align: center;
}

#new-project-form input {
  margin-top: 1.5rem;
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 75%;
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
}

.new-project-buttons {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.new-project-buttons button {
  font-size: 1.125rem;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #1469c4;
  color: white;
  transition: opacity 0.2s;
}

#new-project-close {
  background-color: #818181;
}

.new-project-buttons button:hover {
  opacity: 0.8;
}







